<h1>New batch_create</h1>

<%= form_tag :url => '/menus/batch', :html => { :method => :post } do |f| %>
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>月曜日</th>
        <th>火曜日</th>
        <th>水曜日</th>
        <th>木曜日</th>
        <th>金曜日</th>
        <th>土曜日</th>
        <th>日曜日</th>
      </tr>
      <%  # menus["曜日"]["朝or昼or夜"] %>
      <% cnt = 1 %>
      <tr>
        <td><input type="text" name="menus[1][1][menu1]" tabindex="<%=cnt %>" value="オムレツ" /></td>
        <% cnt += 6  %>
        <td><input type="text" name="menus[2][1][menu1]" tabindex="<%=cnt %>" value="魚の塩焼き" /></td>
        <% cnt += 6  %>
        <td><input type="text" name="menus[3][1][menu1]" tabindex="<%=cnt %>" value="鶏の柚子胡椒焼き" /></td>
        <% cnt += 6  %>
        <td><input type="text" name="menus[4][1][menu1]" tabindex="<%=cnt %>" value="ウインナーとブロッコリー炒め" /></td>
        <% cnt += 6  %>
        <td><input type="text" name="menus[5][1][menu1]" tabindex="<%=cnt %>" value="ベーコンエッグ" /></td>
        <% cnt += 6  %>
        <td><input type="text" name="menus[6][1][menu1]" tabindex="<%=cnt %>" value="豚肉と小松菜の和風炒め" /></td>
        <% cnt += 6  %>
        <td><input type="text" name="menus[7][1][menu1]" tabindex="<%=cnt %>" value="鯖(サバ)マスタード焼き" /></td>
      <tr/>
        <% cnt = 2 %>
      <tr>
        <td><input type="text" name="menus[1][1][menu2]" tabindex="<%=cnt %>" value="ウインナー" /></td>
        <% cnt += 6 %>
        <td><input type="text" name="menus[2][1][menu2]" tabindex="<%=cnt %>" value="なす炒り" /></td>
        <% cnt += 6  %>
        <td><input type="text" name="menus[3][1][menu2]" tabindex="<%=cnt %>" value="きんぴらごぼう" /></td>
        <% cnt += 6  %>
        <td><input type="text" name="menus[4][1][menu2]" tabindex="<%=cnt %>" value="ハッシュドポテト" /></td>
        <% cnt += 6  %>
        <td><input type="text" name="menus[5][1][menu2]" tabindex="<%=cnt %>" value="ミートボール" /></td>
        <% cnt += 6  %>
        <td><input type="text" name="menus[6][1][menu2]" tabindex="<%=cnt %>" value="五目玉子焼き" /></td>
        <% cnt += 6  %>
        <td><input type="text" name="menus[7][1][menu2]" tabindex="<%=cnt %>" value="ハムとポテトの中華炒め" /></td>
      </tr>
      <% cnt = 3 %>
      <tr>
        <% for m in 1..7 do %>
          <td><input type="text" name="menus[<%= m %>][2][menu1]" tabindex="<%= cnt%>" value="" /></td>
          <% cnt+=6 %>
        <% end %>
      </tr>
      <% cnt = 4 %>
      <tr>
        <% for m in 1..7 do %>
          <td><input type="text" name="menus[<%= m %>][2][menu2]" tabindex="<%= cnt%>" value="" /></td>
          <% cnt+=6 %>
        <% end %>
      </tr>
      <% cnt = 5 %>
      <tr>
        <% for m in 1..7 do %>
          <td><input type="text" name="menus[<%= m %>][3][menu1]" tabindex="<%= cnt%>" value="" /></td>
          <% cnt+=6 %>
        <% end %>
      </tr>
      <% cnt = 6 %>
      <tr>
        <% for m in 1..7 do %>
          <td><input type="text" name="menus[<%= m %>][3][menu2]" tabindex="<%= cnt%>" value="" /></td>
          <% cnt+=6 %>
        <% end %>
      </tr>
    </table>
    <div class="field">
      <p>
      月曜日の日付を入力 
      <%= date_field_tag 'date','', use_month_numbers: true, start_year: 2019, :tabindex => '1000'  %>
      </p>
    </div>

    <div class="actions">
      <%= submit_tag %>
    </div>
  </div>
<% end %>
<%= link_to 'Back', menus_path %>
